.stickyDa table {
  margin: 0;
}

.ada-table td, #ada-compliance-table td {
  vertical-align: top;
}

.ada-table td:nth-child(1) {  
  width: 25%;
}

pre.code {
  white-space: pre-wrap;
  max-width: 850px;
  display: none;
  /* margin-left: 8em; */
}

pre.code:before {
  counter-reset: listing;
}

pre.code code.code_with_number {
  counter-increment: listing;
  text-align: left;
  float: left;
  clear: left;
}

pre.code code.code_without_number {
  text-align: left;
  float: left;
  clear: left;
}

pre.code code.code_without_number span {
  cursor: pointer;
}

pre.code code.code_with_number::before {
  content: counter(listing) ". ";
  display: inline-block;
  float: left;
  /* height: 3em; */
  padding-left: auto;
  margin-left: auto;
  text-align: right;
}

code {
  margin: 0 !important;
}

.ada_message_normal {
  background-color: #9fff9f;
}

.ada_message_warning {
  background-color: #ffff9f;
}

.ada_message_alert {
  background-color: #ff9f9f;
}

code.code_without_number > div {
  border: #000 solid 1px;
  background-color: #fff;
}

.warning_level {
  color: orange;
}

.alert_level {
  color: red;
}

table.error_list tr {
  border-bottom: none;
}

.sticky {
  position: fixed;
  overflow: auto;
  z-index: 101;
}

.stop {
  position: relative;
  overflow: auto;
  z-index: 101;
}

.rest_of_errors {
  display: none;
}

.accordion {
  position: relative;
  z-index: 10;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.error_list-wrapper {
  padding: 0px;
}
.panel {
  position: relative;
  top: -2px;
  z-index: 9;
  height: 0;
  min-height: 0;
  padding: 0 !important;
  background-color: white;
  overflow: hidden;
  transition: min-height 0.2s ease-out;
}
.stickyDa > div {
  overflow: auto;
}
span.ada_ident {
  margin-left: 30px;
}

#scroll-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #6E6E6E; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scroll-top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.show {
  display: block !important;
}

/*
.seven-details__wrapper .js-form-item:first-of-type label {
  font-weight: 700;
}
.js-form-type-checkbox:not(:first-of-type) {
  padding-left: 16px;
}
input.page-checkbox {
  margin-left: 16px;
}
*/
input#edit-actions-submit {
  margin-bottom: 10px;
}
div.details_padding {
  margin-left: 16px;
  display: inline-block;
}

.ada_message_page_normal {
  background-color: #9fff9f;
  color: #0074bd;
}

.ada_message_page_warning {
  background-color: #ffff9f;
  color: #0074bd;
}

.ada_message_page_alert {
  background-color: #ff9f9f;
  color: white;
}

.ada_message_page_notchecked {
  background-color: grey;
  color: white;
}
.ada_message_page{
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #0074bd;
  text-shadow: none
}

.ada_content_type_wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.ada_content_type_wrap > div > .form-checkbox{
    margin: 19px 20px 0 0;
}
.ada_content_type_wrap details{
	width: 100%;
}
.ada-compliance-spinner{
	width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 20px;
}

input[value="Filter"] {
    margin-bottom: 10px;
}
table.ada-filter-table {
    width: 52%;
    margin-top: 30px;
    margin-bottom: 20px;
}
table.ada-filter-table tr {
    border-bottom: none;
}
table.ada-filter-table td {
    padding: 10px 0;
}
table.ada-filter-table td:first-child {
    width: 140px !important;
}
table.ada-filter-table td:nth-child(2) {
    width: 155px !important;
}
table.ada-filter-table td:nth-child(3) {
    width: 172px !important;
}
